/*! CSS Used from: https://localhost:44315/App_Plugins/SimpleRedirects/assets/styles/styles.min.css?d=637962680500000000 */
#SimpleRedirects section {
    display: block;
}

.umb-overlay-container {
    overflow-y: visible;
}

.file-actions {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.button-right {
    margin-left: auto;
}

.import-response {
    margin-top: 8px;
}

.import-response-error-list {
    margin-top: 8px;
}

.file-action:not(:last-child) {
    margin-right: 8px;
}

#SimpleRedirects .padding-right {
    padding-right: 10px;
}

#SimpleRedirects a {
    background-color: transparent;
}

    #SimpleRedirects a:active, #SimpleRedirects a:hover {
        outline: 0;
    }

#SimpleRedirects h1 {
    margin: .67em 0;
}

#SimpleRedirects button, #SimpleRedirects input, #SimpleRedirects select {
    color: inherit;
    font: inherit;
    margin: 0;
}

#SimpleRedirects .btn-success {
    background-color: #2196F3;
    color: #fff;
}

#SimpleRedirects button {
    overflow: visible;
}

#SimpleRedirects button, #SimpleRedirects select {
    text-transform: none;
}

#SimpleRedirects button {
    -webkit-appearance: button;
    cursor: pointer;
}

    #SimpleRedirects button::-moz-focus-inner, #SimpleRedirects input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

#SimpleRedirects input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

#SimpleRedirects table {
    border-collapse: collapse;
    border-spacing: 0;
}

#SimpleRedirects td, #SimpleRedirects th {
    padding: 0;
}

#SimpleRedirects .table {
    max-width: 100%;
}

#SimpleRedirects .btn, #SimpleRedirects .btn-danger:active, #SimpleRedirects .btn-default.active, #SimpleRedirects .btn-default:active, #SimpleRedirects .btn-info:active, #SimpleRedirects .btn-primary:active, #SimpleRedirects .btn.active, #SimpleRedirects .btn:active, #SimpleRedirects .form-control {
    background-image: none;
}

#SimpleRedirects *, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#SimpleRedirects button, #SimpleRedirects input, #SimpleRedirects select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#SimpleRedirects a:focus, #SimpleRedirects a:hover {
    text-decoration: none;
}

#SimpleRedirects a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

#SimpleRedirects [role=button] {
    cursor: pointer;
}

#SimpleRedirects h1, #SimpleRedirects h3 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #444;
}

#SimpleRedirects h1, #SimpleRedirects h3 {
    margin-top: 23px;
    margin-bottom: 11.5px;
}

#SimpleRedirects ul {
    margin-top: 0;
}

#SimpleRedirects h1 {
    font-size: 33px;
}

#SimpleRedirects h3 {
    font-size: 23px;
}

#SimpleRedirects .lead {
    margin-bottom: 23px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    #SimpleRedirects .lead {
        font-size: 19.5px;
    }
}

#SimpleRedirects .btn, #SimpleRedirects .table-full thead tr > th {
    text-transform: uppercase;
}

#SimpleRedirects table {
    background-color: transparent;
}

#SimpleRedirects .page-header {
    padding-bottom: 10.5px;
}

#SimpleRedirects ul {
    margin-bottom: 11.5px;
}

#SimpleRedirects .pager:after, #SimpleRedirects .row:after {
    clear: both;
}

#SimpleRedirects th {
    text-align: left;
}

#SimpleRedirects .row:after, #SimpleRedirects .row:before {
    content: " ";
    display: table;
}

#SimpleRedirects .row {
    margin-left: -15px;
    margin-right: -15px;
}

#SimpleRedirects .col-md-12, #SimpleRedirects .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    #SimpleRedirects .col-md-12, #SimpleRedirects .col-md-6 {
        float: left;
    }

    #SimpleRedirects .col-md-6 {
        width: 50%;
    }

    #SimpleRedirects .col-md-12 {
        width: 100%;
    }
}

#SimpleRedirects .table {
    width: 100%;
    margin-bottom: 23px;
}

    #SimpleRedirects .table > tbody > tr > td, #SimpleRedirects .table > thead > tr > th {
        padding: 8px;
        line-height: 1.846;
        vertical-align: top;
        border-top: 1px solid #F0F0F0;
    }

    #SimpleRedirects .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #F0F0F0;
    }

    #SimpleRedirects .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

#SimpleRedirects .form-control {
    background-color: transparent;
}

#SimpleRedirects .table-responsive {
    overflow-x: auto;
    min-height: .01%;
}

@media screen and (max-width: 767px) {
    #SimpleRedirects .table-responsive {
        width: 100%;
        margin-bottom: 17.25px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #F0F0F0;
    }

        #SimpleRedirects .table-responsive > .table {
            margin-bottom: 0;
        }

            #SimpleRedirects .table-responsive > .table > tbody > tr > td, #SimpleRedirects .table-responsive > .table > thead > tr > th {
                white-space: nowrap;
            }
}

#SimpleRedirects .form-control {
    border: 1px solid transparent;
}

#SimpleRedirects input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

#SimpleRedirects .form-control {
    display: block;
    font-size: 13px;
    line-height: 1.846;
    color: #666;
}

#SimpleRedirects input[type=checkbox]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

#SimpleRedirects .form-control {
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    #SimpleRedirects .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }

    #SimpleRedirects .form-control::-moz-placeholder {
        color: #bbb;
        opacity: 1;
    }

    #SimpleRedirects .form-control:-ms-input-placeholder {
        color: #bbb;
    }

    #SimpleRedirects .form-control::-webkit-input-placeholder {
        color: #bbb;
    }

    #SimpleRedirects .form-control[disabled] {
        background-color: transparent;
        opacity: 1;
    }

    #SimpleRedirects .form-control[disabled] {
        cursor: not-allowed;
    }

#SimpleRedirects input[type=checkbox][disabled] {
    cursor: not-allowed;
}

#SimpleRedirects .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    #SimpleRedirects .btn.active:focus, #SimpleRedirects .btn:active:focus, #SimpleRedirects .btn:focus {
        outline: dotted thin;
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
    }

    #SimpleRedirects .btn:focus, #SimpleRedirects .btn:hover {
        color: #666;
        text-decoration: none;
    }

    #SimpleRedirects .btn.active, #SimpleRedirects .btn:active {
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

#SimpleRedirects .btn-default {
    color: #666;
    background-color: #fff;
    border-color: #eee;
}

    #SimpleRedirects .btn-default.active, #SimpleRedirects .btn-default:active, #SimpleRedirects .btn-default:focus, #SimpleRedirects .btn-default:hover {
        color: #666;
        border-color: #cfcfcf;
    }

#SimpleRedirects .btn-primary, #SimpleRedirects .btn-primary:active, #SimpleRedirects .btn-primary:focus, #SimpleRedirects .btn-primary:hover {
    border-color: transparent;
    color: #fff;
}

#SimpleRedirects .btn-info, #SimpleRedirects .btn-info:active, #SimpleRedirects .btn-info:focus, #SimpleRedirects .btn-info:hover {
    border-color: transparent;
    color: #fff;
}

#SimpleRedirects .btn-info {
    background-color: #00bcd4;
}

#SimpleRedirects .btn-danger, #SimpleRedirects .btn-danger:active, #SimpleRedirects .btn-danger:focus, #SimpleRedirects .btn-danger:hover {
    border-color: transparent;
    color: #fff;
}

#SimpleRedirects .btn-danger {
    background-color: #F44336;
}

#SimpleRedirects .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#SimpleRedirects .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

#SimpleRedirects .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

    #SimpleRedirects .btn-group > .btn {
        position: relative;
        float: left;
    }

        #SimpleRedirects .btn-group > .btn:first-child {
            margin-left: 0;
        }

            #SimpleRedirects .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

        #SimpleRedirects .btn-group > .btn:last-child:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

#SimpleRedirects .pager {
    padding-left: 0;
    margin: 23px 0;
    list-style: none;
    text-align: center;
}

    #SimpleRedirects .pager:after, #SimpleRedirects .pager:before {
        content: " ";
        display: table;
    }

    #SimpleRedirects .pager li {
        display: inline;
    }

#SimpleRedirects .alert {
    margin-bottom: 23px;
    border-radius: 3px;
}

#SimpleRedirects .alert-danger {
    border-color: transparent;
}

#SimpleRedirects .alert {
    padding: 15px;
}

    #SimpleRedirects .alert > p {
        margin-bottom: 0;
    }

#SimpleRedirects .alert-dismissible {
    padding-right: 35px;
}

    #SimpleRedirects .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }

#SimpleRedirects .alert-danger {
    color: #F44336;
}

#SimpleRedirects .close {
    float: right;
    color: #000;
    text-shadow: none;
    filter: alpha(opacity=20);
}

    #SimpleRedirects .close:focus, #SimpleRedirects .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50);
    }

#SimpleRedirects button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

#SimpleRedirects input[type=checkbox]:disabled:after {
    border-color: #bbb;
}

#SimpleRedirects .pull-right {
    float: right !important;
}

#SimpleRedirects .page-header {
    border: none;
}

#SimpleRedirects button, #SimpleRedirects input {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    text-rendering: optimizeLegibility;
}

#SimpleRedirects .page-header {
    margin: 0 0 40px;
    padding: 0;
}

    #SimpleRedirects .page-header h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
    }

    #SimpleRedirects .page-header .lead {
        margin: 0;
    }

#SimpleRedirects [type=text].form-control, #SimpleRedirects input.form-control, #SimpleRedirects input[type=text] {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
}

    #SimpleRedirects input.form-control[disabled] {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px dotted #ddd;
    }

#SimpleRedirects select, #SimpleRedirects select.form-control {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
    line-height: 1.5;
}

    #SimpleRedirects select.form-control::-ms-expand, #SimpleRedirects select::-ms-expand {
        display: none;
    }

    #SimpleRedirects select.form-control:focus, #SimpleRedirects select:focus {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    }

#SimpleRedirects input[type=checkbox] {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

    #SimpleRedirects input[type=checkbox]:focus {
        outline: 0;
    }

    #SimpleRedirects input[type=checkbox]:after {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        margin-top: -2px;
        margin-right: 5px;
        border: 2px solid #666;
        border-radius: 2px;
        -webkit-transition: 240ms;
        -o-transition: 240ms;
        transition: 240ms;
    }

    #SimpleRedirects input[type=checkbox]:checked:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 10px;
        display: table;
        width: 6px;
        height: 12px;
        border: 2px solid #fff;
        border-top-width: 0;
        border-left-width: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #SimpleRedirects input[type=checkbox]:disabled:checked:after {
        background-color: #bbb;
        border-color: transparent;
    }

#SimpleRedirects .alert, #SimpleRedirects .alert .close {
    color: #fff;
}

#SimpleRedirects .alert, #SimpleRedirects .btn {
    border: none;
}

#SimpleRedirects .alert-danger {
    background-color: #F44336;
}

#SimpleRedirects .close {
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    opacity: .6;
}

    #SimpleRedirects .close:hover {
        opacity: 1;
    }

#SimpleRedirects p {
    margin: 0 0 1em;
}

#SimpleRedirects a {
    text-decoration: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#SimpleRedirects .lead {
    font-size: 14px;
    color: #9B9B9B;
}

#SimpleRedirects .btn {
    font-weight: 400;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    -webkit-transition: all .4s cubic-bezier(0, 0, .2, 1);
    -o-transition: all .4s cubic-bezier(0, 0, .2, 1);
    transition: all .4s cubic-bezier(0, 0, .2, 1);
}

    #SimpleRedirects .btn:active, #SimpleRedirects .btn:hover {
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    }

#SimpleRedirects .btn-default.active, #SimpleRedirects .btn-default:active, #SimpleRedirects .btn-default:focus, #SimpleRedirects .btn-default:hover {
    background-color: #f2f2f2;
}

#SimpleRedirects .btn-primary:active, #SimpleRedirects .btn-primary:focus, #SimpleRedirects .btn-primary:hover {
    background-color: #d81557;
}

#SimpleRedirects .btn-info:active, #SimpleRedirects .btn-info:focus, #SimpleRedirects .btn-info:hover {
    background-color: #00a5bb;
}

#SimpleRedirects .btn-danger:active, #SimpleRedirects .btn-danger:focus, #SimpleRedirects .btn-danger:hover {
    background-color: #f32c1e;
}

#SimpleRedirects .btn-group .btn + .btn {
    margin-left: 0;
}

#SimpleRedirects .table-full thead tr > th:last-child {
    padding-right: 20px;
}

#SimpleRedirects .table-full tbody > tr > td:first-child, #SimpleRedirects .table-full thead tr > th:first-child {
    padding-left: 40px;
}

#SimpleRedirects .table-full {
    margin-bottom: 0;
    background: #fff;
    width: 100%;
}

    #SimpleRedirects .table-full thead {
        background: #FAFAFA;
    }

        #SimpleRedirects .table-full thead tr > th {
            vertical-align: bottom;
            border-bottom: 1px solid #F0F0F0;
            font-weight: 500;
            font-size: 11px;
        }

    #SimpleRedirects .table-full tbody > tr > td {
        vertical-align: middle;
    }

        #SimpleRedirects .table-full tbody > tr > td:last-child {
            padding-right: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    #SimpleRedirects .table-full input[type=checkbox] {
        margin: 7px 0 0;
    }

        #SimpleRedirects .table-full input[type=checkbox]:after {
            border-color: #DBDBDB;
        }

#SimpleRedirects .table-full-small tbody > tr > td:first-child, #SimpleRedirects .table-full-small thead tr > th:first-child {
    padding-left: 20px;
}

#SimpleRedirects .table-title {
    border-bottom: 1px solid rgba(160, 160, 160, .15);
    padding: 20px 20px 20px 40px;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: #9B9B9B;
}

#SimpleRedirects .card {
    position: relative;
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 30px;
}

#SimpleRedirects .card {
    -webkit-box-sizing: border-box;
}

#SimpleRedirects .btn-primary, #SimpleRedirects .btn-primary:active, #SimpleRedirects input[type=checkbox]:checked:after {
    background-color: #e91e63;
}

#SimpleRedirects .page-header h1 {
    color: #e91e63;
}

#SimpleRedirects .btn-primary:hover {
    background-color: #d81b60;
}

#SimpleRedirects .table-full input[type=checkbox]:checked:after, #SimpleRedirects input[type=checkbox]:checked:after {
    border-color: #e91e63;
}

#SimpleRedirects [type=text].form-control:focus, #SimpleRedirects input.form-control:focus, #SimpleRedirects input[type=text]:focus, #SimpleRedirects select.form-control:focus, #SimpleRedirects select:focus {
    -webkit-box-shadow: inset 0 -2px 0 #e91e63;
    box-shadow: inset 0 -2px 0 #e91e63;
}

#SimpleRedirects .btn-primary:focus {
    background-color: #c51162;
}

#SimpleRedirects a:focus, #SimpleRedirects a:hover {
    color: #90CAF9;
}

#SimpleRedirects a {
    color: #2196F3;
}

#SimpleRedirects .card {
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
}

#SimpleRedirects .table-search {
    padding: 10px 20px;
}

#SimpleRedirects .ng-table th {
    text-align: left;
}

#SimpleRedirects .theme-deep-orange .page-header h1 {
    color: #ff5722;
}

#SimpleRedirects .theme-deep-orange .btn-primary, #SimpleRedirects .theme-deep-orange input[type=checkbox]:checked:after {
    background-color: #ff5722;
}

#SimpleRedirects .theme-deep-orange input[type=checkbox]:checked:after {
    border-color: #ff5722;
}

#SimpleRedirects .theme-deep-orange [type=text].form-control:focus, #SimpleRedirects .theme-deep-orange input.form-control:focus, #SimpleRedirects .theme-deep-orange input[type=text]:focus, #SimpleRedirects .theme-deep-orange select:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ff5722;
    box-shadow: inset 0 -2px 0 #ff5722;
}

#SimpleRedirects .theme-deep-orange .btn-primary:hover {
    background-color: #f4511e;
}

#SimpleRedirects .theme-deep-orange .btn-primary:focus {
    background-color: #dd2c00;
}

#SimpleRedirects .theme-deep-orange a:focus, #SimpleRedirects .theme-deep-orange a:hover {
    color: #FFBFAC;
}

#SimpleRedirects .theme-deep-orange a {
    color: #FF602E;
}

#SimpleRedirects .p-20 {
    padding: 20px;
}